.dark-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-layout {
  background-image: url("/images/login-box.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 90vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4vh 0;

  .step-button {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
  }

  button {
    width: 20vw;
    height: 5vh;
    font-size: 2.5vh;
  }
}

.speech-doctor {
  margin-top: 17vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  img {
    width: 50vw;
    height: 25vh;
  }
}

.speech-bubble {
  background-image: url("/images/speech-bubble-left.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 4vw;
    padding-bottom: 3.5vh;
  }
}

.result-daily {
  margin: 3vh 0;
  max-width: 38vh;
  max-height: 30vh; // 높이 최대값을 화면 높이의 20%로 설정
  overflow-y: auto; // 세로 스크롤바 자동 생성
  font-size: 2vh;

  // 스크롤바 스타일 지정
  &::-webkit-scrollbar {
    width: 8px; // 스크롤바 너비
    background-color: #f5f5f5; // 스크롤바 배경색
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0; // 트랙의 배경색
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; // 슬라이더 색상
    border-radius: 4px; // 슬라이더 둥근 모서리
    border: 2px solid transparent; // 슬라이더 외곽선 없음
    background-clip: content-box; // 내부 콘텐츠까지 배경 적용
  }

  span {
    color: white;
  }
}
