.main {
  background-image: url("/images/backgrounds/login-bg.gif");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-image: url("/images/login-box.png");
  background-size: 100% 100%;
  width: 90%;
  height: 15rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  font-family: "Dos";
}

.google-login-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.google-login {
  width: 90%;
  height: 90%;
}

@font-face {
  font-family: "Dos";
  src: url("/fonts/DOSIyagiBoldface.ttf") format("truetype");
}
