.main {
  background-image: url("/images/main-bg.png");
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*************************************/
.header {
  height: 20vh;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75%;
  height: 100%;
  background-image: url("../images/button-gray.png");
  background-size: 100% 100%;
}

.item p {
  font-size: 2.5vh;
}
.item h2 {
  color: #39da00;
  font-size: 6vh;
  margin: 1vh 0 3vh 0;
}

.side-menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-menu img {
  min-width: 50px;
  min-height: 50px;
  width: 8vh;
  height: 8vh;
}

/*************************************/
.content {
  height: 55vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.content .damagochi {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
}

.content .damagochi img {
  width: 20vh;
  height: 40vh;
}

.debuff-menu {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.debuff-menu img {
  min-width: 50px;
  min-height: 50px;
  width: 8vh;
  height: 8vh;
  margin: 1vh 0;
}

/*************************************/
.menu {
  width: 100%;
  height: 23vh;
  display: flex;
  justify-content: space-evenly;
}

.menu .left {
  min-width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu .left .shop {
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.menu .left .shop img {
  width: 5vh;
  height: 5vh;
}

.menu .left .report {
  height: 60%;
}

.menu .left .report img {
  width: 8vh;
  height: 8vh;
  padding-bottom: 1vh;
}

.menu .center {
  min-width: 30%;
  display: flex;
  align-items: center;
}

.menu .center button {
  height: 95%;
}

.menu .center button img {
  width: 15vh;
  height: 15vh;
  padding-bottom: 3vh;
}

.menu .right {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu .right a {
  height: 45%;
}

.menu .right a button img {
  width: 6vh;
  height: 6vh;
  padding-bottom: 1vh;
}

.menu button {
  width: 100%;
  height: 100%;
  background-image: url("../images/button.png");
  background-size: 100% 100%;
}
