.title {
  height: 10%;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;

  p {
    font-size: 7vh;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 100vh;

  .menu-container {
    width: 80vw;
    display: flex;
    justify-content: left;

    button {
      margin-right: 0.3vh;
      width: 7vh;
      height: 7vh;

      img {
        width: 5vh;
        height: 5vh;
      }
    }

    .button-blue {
      background-image: url('~/public/images/button-blue.png');
    }
  }

  .modal-inner {
    width: 80vw;
    height: 65vh;
    background-image: url('~/public/images/backgrounds/board-bg.png');
  }
  .inner-text {
    padding: 8vh 5vh;
  }

  .sub-title {
    font-size: 3vh;
    color: tomato;
    text-align: center;
    margin-bottom: 3vh;
  }

  .inactive {
    filter: brightness(50%);
    transform: scale(0.85);
  }
}
