.content {
  width: 90%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(15vh, 1fr)
  ); /* 사용 가능한 공간에 따라 자동으로 열 수를 조정합니다. */
  gap: 1vh;
  overflow: hidden;
  overflow-y: auto;

  .item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 90%;
    height: 90%;
  }

  .selectedItem {
    outline: 3px solid rgb(0, 255, 0); // 초록색 안쪽 경계선
    transition-duration: 0.1s;
  }
}
