.main {
  background-image: url("/images/backgrounds/shop.png");
  background-size: 80vh 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
}
